@use '../../../styles/sass/ITCSS/01_settings/__index' as *;
@use '../../../styles/sass/ITCSS/02_tools/breakpoints' as *;

.ImageComparator {
  display: flex;
  align-items: center;
  @include phone {
    position: absolute;
    top: 32.5svmax;
    left: 0px;
  }
  @include tablet {
    position: absolute;
    top: 34svmax;
    left: 0px;
  }

  @include desktop {
    position: absolute;
    top: 500px;
    left: 0px;
  }

  @include desktopXL {
    position: relative;
    top: 0px;
    left: 0px;
    width: 44%;
  }
  &__imageComparer {
    position: unset;
    left: -300px;
    display: flex;
    width: 875px;
    height: 604px;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px 299px 299px 0px;
    @include phone {
      width: 308px;
      height: 32vh;
      padding-right: 20px;
    }
    @include tablet {
      top: 0px;
      left: 0px;
      width: 500px;
      height: 32vh;
    }
    @include desktop {
      top: 0px;
      left: 0px;
      width: 500px;
      height: 417px;
    }
    @include desktopXL {
      top: 0px;
      left: 0px;
      width: 500px;
      height: 32vh;
    }

    @include desktopXL {
      position: relative;
      left: 0px;
      width: 700px;
      height: 604px;
      justify-content: flex-end;
      padding: 8px;
      padding-right: 30px;
      margin-top: 0px;
    }
    @include desktopXXL {
      left: 0px;
      width: 875px;
      height: 604px;
      padding: 8px;
      padding-right: 30px;
      margin-top: 0px;
    }
  }
  &__circle {
    overflow: hidden;
    height: 94%;
    border: 6px solid $color-middle-white;
    border-radius: 50%;
    filter: drop-shadow($base-box-shadow-image-comparator);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
  }
  &__clipWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform-origin: center;
  }
  &__image {
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    transform-origin: center;
    &::selection {
      background: transparent;
    }
  }
  &__backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
  }
  &__dragger {
    position: absolute;
    width: 6px;
    height: 100%;
    background: $color-middle-white;
    box-shadow: $base-box-shadow-image-comparator;
    z-index: 2;
    @include tablet {
      width: 10px;
    }
  }
  &__draggerHandle {
    position: absolute;
    width: 12px;
    height: 25px;
    background: $color-middle-white;
    box-shadow: $base-box-shadow-image-comparator;
    top: 50%;
    left: -50%;
    border-radius: 20%;
    transform: translateY(-50%);
    @include tablet {
      width: 20px;
      height: 30px;
    }
  }
  //style n 3 dragger dots
  &__draggerDot {
    position: absolute;
    width: 5px;
    height: 1px;
    background: $color-background-light-source-selector;
    box-shadow: $base-box-shadow-image-comparator;
    border-radius: 20%;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      width: 9px;
      height: 2px;
    }
  }
  &__draggerDot_1 {
    top: calc(30% - 1px);
  }
  &__draggerDot_2 {
    top: calc(50% - 1px);
  }
  &__draggerDot_3 {
    top: calc(70% - 1px);
  }
  &__clipped {
    filter: saturate(0) contrast(1.5);
  }
}
