@use '../../../styles/sass/ITCSS/01_settings/colors' as *;
@use '../../../styles/sass/ITCSS/01_settings/fonts' as *;
@use '../../../styles/sass/ITCSS/01_settings/global' as *;
@use '../../../styles/sass/ITCSS/02_tools/breakpoints' as *;

.LanguageSwitcher {
  position: relative;
  display: block;
  display: none;
  width: 368px;
  height: 50px;
  padding: 8px;
  border-radius: 16px;
  @include phone {
    width: 106px;
    height: 20px;
    padding: 2px;
    margin-top: 8px;
  }
  @include tablet {
    width: 368px;
    height: 50px;
    padding: 8px;
    margin-top: 0px;
  }
  @include desktop {
    display: block;
    width: 368px;
    height: 50px;
    padding: 8px;
    margin-top: 0px;
  }
  &_buttons {
    display: flex;
    width: 352px;
    height: 34px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    @include phone {
      width: 100px;
      height: 17px;
    }
    @include phone {
      width: 352px;
      height: 34px;
    }
    @include desktop {
      width: 352px;
      height: 34px;
    }
  }
  &_esButton {
    width: 172px;
    height: 34px;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    margin-right: 5px;
    cursor: none;
    @include phone {
      width: 46px;
      height: 15px;
    }
    @include phone {
      width: 172px;
      height: 34px;
    }
    @include desktop {
      width: 172px;
      height: 34px;
    }
  }
  &_esButtonText {
    width: 100%;
    height: 100%;
    background: $color-gradient-pink-linear-vertical;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Nunito';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;

    -webkit-text-fill-color: transparent;
    text-shadow: $base-text-shadow-neon;
    @include phone {
      font-size: 9px;
    }
    @include phone {
      font-size: 22px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
  &_enButton {
    width: 172px;
    height: 34px;
    border: none;
    border-radius: 8px;
    cursor: none;
    @include phone {
      width: 46px;
      height: 15px;
    }
    @include phone {
      width: 172px;
      height: 34px;
    }
    @include desktop {
      width: 172px;
      height: 34px;
    }
  }
  &_enButtonText {
    width: 100%;
    height: 100%;
    color: $color-middle-white;
    font-family: 'Nunito';
    font-size: 22px;
    font-style: normal;
    letter-spacing: 0.1px;

    text-shadow: $base-box-shadow-gray;
    @include phone {
      font-size: 9px;
    }
    @include phone {
      font-size: 22px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
}
