@use '../../../styles/sass/ITCSS/01_settings/colors' as *;
@use '../../../styles/sass/ITCSS/01_settings/fonts' as *;
@use '../../../styles/sass/ITCSS/01_settings/global' as *;
@use '../../../styles/sass/ITCSS/02_tools/breakpoints' as *;

.LanguageSwitcher {
  position: relative;
  display: block;
  display: none;
  width: 368px;
  height: 50px;
  padding: 8px;
  border-radius: 16px;
  @include phone {
    width: 106px;
    height: 20px;
    padding: 2px;
    margin-top: 8px;
  }
  @include tablet {
    width: 368px;
    height: 50px;
    padding: 8px;
    margin-top: 0px;
  }
  @include desktop {
    display: block;
    width: 368px;
    height: 50px;
    padding: 8px;
    margin-top: 0px;
  }
  &_buttons {
    display: flex;
    width: 350px;
    height: 35px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 1em;
  }
  &_button {
    height: 100%;
    flex: 1;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    cursor: none;
    font-family: 'Nunito';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    @include phone {
      font-size: 9px;
    }
    @include phone {
      font-size: 22px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
  &_buttonText {
    width: 100%;
  }
}
