@use '../../../styles/sass/ITCSS/01_settings/colors' as *;
@use '../../../styles/sass/ITCSS/01_settings/fonts' as *;
@use '../../../styles/sass/ITCSS/01_settings/global' as *;
@use '../../../styles/sass/ITCSS/02_tools/breakpoints' as *;

.ThemeColorSwitcher {
  display: flex;
  align-items: center;
  color: $color-white;
  text-align: right;
  @include phone {
    display: none;
  }

  @include desktop {
    display: flex;
  }
  &_text {
    width: 194px;
    height: 34px;
    padding-right: 5px;
    color: $color-middle-white;
    font-family: 'Nunito';
    font-size: 22px;
    font-style: normal;
    font-weight: $weight-normal;
    letter-spacing: 0.1px;

    text-shadow: $base-box-shadow-gray;
    @include phone {
      width: 48.5px;
      height: 34px;
      padding-top: 5px;
      font-size: 9px;
      line-height: 11px;
      text-align: center;
    }
    @include tablet {
      width: 194px;
      height: 34px;
      font-size: 22px;
      line-height: 25px;
    }
    @include desktop {
      width: 194px;
      height: 34px;
      font-size: 22px;
      line-height: 25px;
    }
  }

  &_toggle {
    display: inline-block;
    margin-top: 5px;
    cursor: none;
    @include phone {
      margin-top: 5px;
    }
    @include desktop {
      margin-top: 5px;
    }
  }

  &_toggleSwitch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
    border-radius: 16px;
    background: $color-normal-state-color-switcher-button;
    box-shadow: $base-box-shadow-toggle-switch;
    transition: background 0.25s;
    vertical-align: middle;
    &:before,
    &:after {
      content: '';
    }
    &:before {
      position: absolute;
      top: 0.9px;
      left: 0px;
      display: block;
      width: 31px;
      height: 31px;
      border-radius: 32px;
      border-radius: 50%;
      background: $color-color-switcher-before;
      box-shadow: $base-box-shadow-toggle-switch-before;
      transition: left 0.25s;
      @include phone {
        width: 16px;
        height: 16px;
      }
      @include tablet {
        width: 31px;
        height: 31px;
      }
      @include desktop {
        width: 31px;
        height: 31px;
      }
    }
    @include phone {
      width: 25px;
      height: 16px;
    }
    @include tablet {
      width: 25px;
      height: 16px;
    }
    @include desktop {
      width: 50px;
      height: 34px;
    }
  }

  &:hover .ThemeColorSwitcher_toggleSwitch {
    &:before {
      background: $color-color-switcher-before;
      box-shadow: $base-box-shadow-toggle-switch-before;
    }
  }

  &_toggleCheckbox {
    position: absolute;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden;
    &:checked + .ThemeColorSwitcher_toggleSwitch {
      background: $color-checked-state-color-switcher-button;
      &:before {
        left: 25px;
        @include phone {
          left: 10px;
        }
        @include tablet {
          left: 25px;
        }
        @include desktop {
          left: 25px;
        }
      }
    }
  }
}
