@use '../../../styles/shared' as shared;

.ShapeSwitcher {
  @include shared.row;
  flex-wrap: wrap;
  width: 8rem;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 3px;
  &__row {
    @include shared.row;
  }
  &__button {
    padding: 0 2px;
    border: none;
    background: var(--textColorOpposite);
    color: var(--textColor);
    cursor: pointer;
    opacity: 0.9;
    outline: 0;
    &:focus-visible {
      opacity: 1;
    }
    &_active,
    &:active {
      filter: invert(1) hue-rotate(180deg);
      opacity: 1;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    pointer-events: none;
    stroke: var(--textColor);
  }
  &__label {
    @include shared.label;
  }
}
