@use '../../styles/sass/ITCSS/01_settings/colors' as *;
@use '../../styles/sass/ITCSS/01_settings/fonts' as *;
@use '../../styles/sass/ITCSS/02_tools/breakpoints' as *;

.Navbar {
  position: fixed;
  z-index: 999;
  right: 0px;
  left: 0px;
  display: flex;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  @include phone {
    height: 9vh;
    justify-content: center;
    gap: 38vw;
  }
  @include tablet {
    height: 90px;
    gap: 38vh;
  }
  @include desktop {
    height: 90px;
    justify-content: space-around;
    gap: 0px;
  }
  &__logo {
    display: flex;
    align-items: center;
    color: $color-white;
    font-family: 'Roboto Condensed';

    font-style: normal;
    font-weight: $weight-bold;
    letter-spacing: 0.1px;
    line-height: 0px;
    text-align: center;
    @include phone {
      font-size: 24px;
    }
    @include tablet {
      font-size: 28px;
    }
    @include desktop {
      font-size: 28px;
    }
  }
  &__menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 14px;
    height: 14px;
    border: 1px solid var(--light-color);
    border-radius: 16px;
    cursor: none;
    @include phone {
      width: 47px;
      height: 47px;
    }
    @include tablet {
      width: 56px;
      height: 56px;
    }
    @include desktop {
      width: 56px;
      height: 56px;
    }
  }
  &__hamburger {
    width: 100%;
    height: 100%;
  }
  &__bottomNeon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background-image: $color-gradient-pink-linear-horizontal;
    animation: move-gradient 5s ease infinite;
    background-size: 180%;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: 180%;
      background-image: $color-gradient-pink-linear-horizontal;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      padding: 2px;
      border-radius: 6px; /* Para bordes suaves */
      filter: blur(6px); /* Efecto difuso */
      z-index: -1; /* Detrás del texto */
      animation: move-gradient 5s ease infinite;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      background-image: radial-gradient(
        ellipse at 50% center,
        rgba(255, 255, 255, 0.8),
        transparent 60%
      );
      filter: blur(12px);
      animation: flare-move 2s infinite alternate ease-in-out;
    }
    @include phone {
      top: 9vh;
    }
    @include tablet {
      top: 82px;
    }
    @include desktop {
      top: 82px;
    }
    @keyframes move-gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes flare-move {
      0% {
        left: 0%;
        opacity: 1;
      }
      100% {
        left: 80%;
        opacity: 0.5;
      }
    }
  }
}
