@use '../01_settings/colors' as *;

/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-middle-white;
  text-decoration: none;
  transition: color 0.25s;
}
